addict==2.2.1
apipkg==1.5
asn1crypto==1.3.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
blis==0.4.1
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
bz2file==0.98
captum==0.2.0
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
correlation-cuda==0.0.0
cryptography==2.8
cupy==7.2.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
depthflowprojection-cuda==0.0.0
docutils==0.15.2
en-core-web-sm==2.2.5
entrypoints==0.3
execnet==1.7.1
fastrlock==0.4
filelock==3.0.12
filterinterpolation-cuda==0.0.0
flowprojection-cuda==0.0.0
gensim==3.8.0
idna==2.9
imageio==2.6.1
imageio-ffmpeg==0.4.1
importlib-metadata==1.5.0
interpolation-cuda==0.0.0
interpolationch-cuda==0.0.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
jieba==0.42.1
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.1.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mindepthflowprojection-cuda==0.0.0
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mmcv==0.2.16
-e git+https://github.com/open-mmlab/mmdetection.git@93bed07bb65b24ae040d797a7696ecb994acf9f5#egg=mmdet
more-itertools==8.2.0
moviepy==1.0.1
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
olefile==0.46
opencv-python==4.2.0.32
packaging==20.3
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
plac==1.1.3
pluggy==0.13.1
prefetch-generator==1.0.1
preshed==3.0.2
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==3.0.4
ptyprocess==0.6.0
py==1.8.1
pycocotools==2.0
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.4.1
pytest-forked==1.1.3
pytest-xdist==1.31.0
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.7.1
QtPy==1.9.0
regex==2020.1.8
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
scikit-image==0.16.2
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.85
separableconv-cuda==0.0.0
separableconvflow-cuda==0.0.0
simplejson==3.17.0
six==1.14.0
smart-open==1.9.0
spacy==2.2.4
srsly==1.0.2
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
thinc==7.4.0
tokenizers==0.5.2
torch==1.2.0
torchfile==0.1.0
torchtext==0.5.0
torchvision==0.4.0a0+6b959ee
tornado==6.0.4
tqdm==4.42.1
traitlets==4.3.3
-e git+https://github.com/huggingface/transformers@1789c7daf1b8013006b0aef6cb1b8f80573031c5#egg=transformers
urllib3==1.25.8
visdom==0.1.8.9
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
zipp==3.1.0
